@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato',sans-serif;
    background-color: #141414;
    padding: 0;
    margin: 0;
    color: #fff;
}

body .page{
    margin: 20px 80px;
}

/****** barre de nav ******/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky; /** fixe la barre de nav **/
    top: 0;
    background-color: #141414;
    padding: 10px 0px;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglets a{
    margin-right: 20px;
    cursor: pointer;

}

nav .buttons button{
    padding: 13px 20px;
    color: #fff;
    border: none;;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

nav .buttons .login{
    background-color: inherit;
    margin-right: 2px;
    color: #8f8f8f;
}

nav .buttons .register{
    background-color: #f54266;
    margin-right: 2px;
    color: #fff;
}

/*********** header *******************/

header{
    margin-top: 40px;
    background: url('https://officialpsds.com/imageview/rn/62/rn6205_large.png?1521316483');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 380px;
}

header h1{
    text-align: center;
    font-size: 60px;
    padding: 150px;
}

/********************* pieds de pagge ********************/

footer{
    background-color: black;
    padding: 25px 100px;
    color: #828282;
}

footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:640px) {
    body .page{
        margin: 10px;
        
    }

    nav .onglets{
        display: none;
    }

    header{
        margin: 20px;
        background-size: 250px 250px;
    }

    header h1{
        font-size: 30px;
        padding: 100px;

    }
    
}